#principal{
    background-image: url("salaPrincipal.jpg");
    background-size: 100%;
    height: 1080px;
    width: 1920px;
    background-repeat: no-repeat;
    background-position: center;
}

#button{
    height: 180px;
    width: 280px;
    position: fixed;
    left: 600px;
    top: 135px;
}